<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="codeGroupDtOne">
		<p th:text="${item.seq}"></p>
		<p th:text="${item.name}"></p>

		<!-- 이동 링크 넣기 1 -->
		<a href="/codeGroupXdmList">이동</a>
		<!-- 이동 링크 넣기 2, 타임리프 구문 -->
		<a th:href="@{/codeGroupXdmList}" th:text="back"></a>
		<br>
		<a th:href="@{/codeGroupEdit(seq=${item.seq})}" th:text="수정"></a>
		<br>
		<input type="hidden" name="seq" th:value="${item.seq}">
		<input type="hidden" name="name" th:value="${item.name}">
		<input type="hidden" name="delNy" th:value="${item.delNy}">
		<button type="submit">삭제</button>
	</form>
	<form method="post" action="codeGroupDtTwo">
		<input type="hidden" name="seq" th:value="${item.seq}">
		<input type="hidden" name="name" th:value="${item.name}">
		<input type="hidden" name="delNy" th:value="${item.delNy}">
		<button type="submit">완전 삭제</button>
	</form>
		
    
</body>
</html>


