<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeGroupXdmList</title>
</head>
<body>
	<!-- 등록시에는 가져올 데이터가 없음 -->
    <a th:href="@{/codeGroupXdmListAdd}" th:text="등록"></a>
    <table>
    	<tr>
    		<td>ch</td>
    		<td>#</td>
    		<td>seq</td>
    		<td>name</td>
    		<td>count<td>
    		<td>modDate</td>
    	</tr>
    	
    	
    	
    	<!-- list : ${list} >> for문처럼 list를 사용하겠다는 뜻
    	${list} >> 앞에서 받아온 list, controller에 있는 이름과 동일하게 사용해야함
    	관례적으로 다른 사람의 코드를 사용하기 위해 list를 이름으로 사용함 -->
    	<!-- th:if="${!#lists.isEmpty(list)}" 
    	if문으로 데이터가 있을 경우 없을 경우로 나누고 두 케이스로 추출-->
    	
    	<tr th:if="${#lists.isEmpty(list)}">
    	    <td colspan="5">There is no data!!!</td>
    		
    	</tr>
    	
    	
    	<!-- 목록은 list, 상세페이지는 item으로 명명 -->
    	<!-- <tr th:if="${!#lists.isEmpty(list)}" th:each="lista:${list}">
    	    <td></td>
    		<td></td>
    		<td th:text="${lista.seq}"></td>
       		<td th:text="${lista.name}"></td>
     		<td th:text="${lista.modDateTime}"></td>
    	</tr> -->
    	
    	<!-- 0,1로 보여지는 해당 내용을 N,Y로 화면에 노출하기 -->
    	<tr th:if="${!#lists.isEmpty(list)}" th:each="lista:${list}">
    		<td></td>
    		<td th:if="${lista.delNy eq 0}">N</td>
    		<td th:unless="${lista.delNy eq 0}">Y</td>
    		
    		<!-- 링크 걸기, 데이터 받기 -->
    	    <td th:text="${lista.seq}"></td>
    	    <td><a th:href="@{/codeGroupView(seq=${lista.seq}, name=${lista.name}, delNy=${lista.delNy})}" th:text="${lista.name}"></a></td>
    		<!-- <td th:text="${lista.seq}"></td>
       		<td th:text="${lista.name}"></td> -->
       		<td th:text="${lista.xCodeGourpCount}"></td>

       		<!-- 데이트 노출 포맷 정하기 -->
     		<td th:text="${#dates.format(lista.modDatetime, 'yyyy년MM월dd일 HH:mm:ss')}"></td>
    	</tr>
    	
    </table>

</body>
</html>